In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dates = pd.date_range('20130101', periods=6)

In [4]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
print(dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
dates[0]

Timestamp('2013-01-01 00:00:00', offset='D')

In [7]:
dates[1]

Timestamp('2013-01-02 00:00:00', offset='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2013-01-01 -1.353283 -0.726190 -1.172609  0.799353
2013-01-02  1.990191  0.586104 -0.167906  0.821194
2013-01-03 -1.866772  1.588545 -0.608244  0.579766
2013-01-04 -0.946440  0.344055 -0.399087  0.589706
2013-01-05  0.015823  0.890552  2.645978 -0.168492
2013-01-06  0.210653  0.266577  0.071821  0.031600

In [10]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.324971  0.491607  0.061659  0.442188
std    1.384472  0.765088  1.335364  0.413138
min   -1.866772 -0.726190 -1.172609 -0.168492
25%   -1.251572  0.285946 -0.555955  0.168641
50%   -0.465308  0.465079 -0.283496  0.584736
75%    0.161946  0.814440  0.011889  0.746941
max    1.990191  1.588545  2.645978  0.821194

In [13]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.353283    1.990191   -1.866772   -0.946440    0.015823    0.210653
B   -0.726190    0.586104    1.588545    0.344055    0.890552    0.266577
C   -1.172609   -0.167906   -0.608244   -0.399087    2.645978    0.071821
D    0.799353    0.821194    0.579766    0.589706   -0.168492    0.031600

In [14]:
df.head()

                   A         B         C         D
2013-01-01 -1.353283 -0.726190 -1.172609  0.799353
2013-01-02  1.990191  0.586104 -0.167906  0.821194
2013-01-03 -1.866772  1.588545 -0.608244  0.579766
2013-01-04 -0.946440  0.344055 -0.399087  0.589706
2013-01-05  0.015823  0.890552  2.645978 -0.168492

In [15]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.946440  0.344055 -0.399087  0.589706
2013-01-05  0.015823  0.890552  2.645978 -0.168492
2013-01-06  0.210653  0.266577  0.071821  0.031600

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.324971  0.491607  0.061659  0.442188
std    1.384472  0.765088  1.335364  0.413138
min   -1.866772 -0.726190 -1.172609 -0.168492
25%   -1.251572  0.285946 -0.555955  0.168641
50%   -0.465308  0.465079 -0.283496  0.584736
75%    0.161946  0.814440  0.011889  0.746941
max    1.990191  1.588545  2.645978  0.821194

In [17]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.353283    1.990191   -1.866772   -0.946440    0.015823    0.210653
B   -0.726190    0.586104    1.588545    0.344055    0.890552    0.266577
C   -1.172609   -0.167906   -0.608244   -0.399087    2.645978    0.071821
D    0.799353    0.821194    0.579766    0.589706   -0.168492    0.031600

In [18]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.799353 -1.172609 -0.726190 -1.353283
2013-01-02  0.821194 -0.167906  0.586104  1.990191
2013-01-03  0.579766 -0.608244  1.588545 -1.866772
2013-01-04  0.589706 -0.399087  0.344055 -0.946440
2013-01-05 -0.168492  2.645978  0.890552  0.015823
2013-01-06  0.031600  0.071821  0.266577  0.210653

In [24]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2013-01-01 -1.353283 -0.726190 -1.172609  0.799353
2013-01-02  1.990191  0.586104 -0.167906  0.821194
2013-01-03 -1.866772  1.588545 -0.608244  0.579766
2013-01-04 -0.946440  0.344055 -0.399087  0.589706
2013-01-05  0.015823  0.890552  2.645978 -0.168492
2013-01-06  0.210653  0.266577  0.071821  0.031600

In [23]:
df.sort_index(axis=0, ascending=True)

                   A         B         C         D
2013-01-01 -1.353283 -0.726190 -1.172609  0.799353
2013-01-02  1.990191  0.586104 -0.167906  0.821194
2013-01-03 -1.866772  1.588545 -0.608244  0.579766
2013-01-04 -0.946440  0.344055 -0.399087  0.589706
2013-01-05  0.015823  0.890552  2.645978 -0.168492
2013-01-06  0.210653  0.266577  0.071821  0.031600